/* .nvbar{
    display: flex;
    margin-left: 50%;
} */
body{
  background-color: black;
}
header .navbar {
    /* font-size: 2rem; */
    margin-left: 35%;
    color: #666;
    display: flex;
    margin-top: -3em;
    gap: 30px;
}
header .navbar span{
    color: greenyellow;
}
header .navbar button{
    background-color: darkgreen;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;

} 
.table button{
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.top1 #bt{
    background-color: rgb(218, 11, 80);
    border-color: rgb(191, 9, 69);
}
header  h3 #sp1{
    color: greenyellow;
}
header h3{
    font-size: 40px;
    margin-left: 10%;
    color: white;
}
header p{
    color: grey;
    margin-left: 10%;
}
header #line{
    color: blueviolet;
   size: 20%;
   
}
header h3 #sp2{
    color: aquamarine;
}
header button{
    background-color: greenyellow;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-top: -4em;
    
}
.image{
    width: 700%;
    height: 700%;
    
}
/* .sec2{
    display: flex;
    gap: 10%;
    list-style: none;

    background-color: greenyellow;
    /* width: 100%;
    height: 100%; */
    /* padding-top: 40px;
    padding-bottom: 40px; */


/* 

}
.table{
    color: white;
    list-style: none;
    display: flex;
    gap: 12%;
}
.content{
    color: white;
    
}
.d1{
    display: flex;
    gap: 11%;
}
  */
  #im{
    margin-left: 35%;
  }
  .swap{
    margin-top: -15em;
  }
  .sec3{
    display: flex;
    list-style: none;
    gap: 50%;
    color: white;
    margin-left: 10%;
  }
  .sec3 p span{
    color: aquamarine;
  }
  .sec3 p span i{
    color: aquamarine;
  }
  .table{
    margin-left: 10%;
  }
.top{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: white;
}
.top1{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}

.table img{
    width: 30%;
}
.top1 span{
    color: greenyellow;
}
.top2{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top2 span{
    color: red;
}

.top3{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top3 span{
    color: greenyellow;
}
.top4{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top4 span{
    color: greenyellow;
}
.top5{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top5 span{
    color: red;
}
.top6{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top6 span{
    color: greenyellow;
}
.top7{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    color: white;
}
.top7 span{
    color: red;
}
.boxes{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: -30%;
    margin-left: 30%;
}
.words button{
    background-color: greenyellow;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    color: white;
}
.final{
    color: white;
    margin-left: 50%;
    margin-top: -25em;
}
.final .clarity{
    /* border: solid 2px grey;
  padding-left: 5%;
    width: 20%;
    height: 20%;
    border-radius: 12px; */
}
.final .confidence{
    /* border: solid 2px grey;
    padding-left: 5%;
      width: 20%;
      height: 20%;
      border-radius: 12px;  */
}
.final .community{
    /* border: solid 2px grey;
    padding-left: 5%;
      width: 20%;
      height: 20%;
      border-radius: 12px;    */
}
.layer{
    color: white;
    margin-left: 10%;
    margin-top: 20%;

    
}
.layer #pages{
    margin-left: 15%;
    margin-top: -18em;
    height: 100%;
    width: 100%;
}
.layer #smart{
    margin-bottom: 6%;
}
.layer #smart span{
    color: yellowgreen;
}
.layer #smart button{
    background-color: greenyellow;
}
 .box-1{
    border: solid 2px grey;
    padding-left: 5%;
      width: 10%;
      height: 120%;
      border-radius: 12px; 
      color: white;  
      margin-left: 10%;
      margin-bottom: 5%;
}
 .box-3{
    border: solid 2px grey;
    padding-left: 5%;
      width: 10%;
      height: 120%;
      border-radius: 12px;
      color: white; 
      margin-left: 10%;

}
.boxes .box-mid{
    border: solid 2px grey;
    padding-left: 5%;
      width: 50%;
      height: 120%;
      border-radius: 12px;   
}
.circula-image img{
    width: 200%;
    height: 007px;
}